#{extends 'main.html' /}
#{set title:'What are HBCUs' /}

<h1>What is an HBCU?</h1>

<p>Historically Black Colleges and Universities (HBCUs) are inclusive
institutions of higher learning that were established before the mid 20th century
in response to refusal of Black intellectuals to Predominantly White Institutions
in the United States. Instead of acquiescing, Leaders banded together to serve the
Black community. </p>
<p>To this day, HBCU’s have unmatched commitment to (primarily) serve
the Black Community. While it’s history is Black, HBCU’s offer exposure to students
all around the globe, from every Continent (excluding Antarctica). While school segregation
no longer exists (in its ancient form) the need for HBCU’s is higher than ever.</p>

<br>

<p>For more information HBCU’s please visit the following resources</p>
<br>
<a href="http://sites.ed.gov/whhbcu">http://sites.ed.gov/whhbcu/ </a>
<br>
<a href="http://sites.ed.gov/whhbcu/one-hundred-and-five-historically-black-colleges-and-universities/">http://sites.ed.gov/whhbcu/one-hundred-and-five-historically-black-colleges-and-universities/ </a>
<br>
<a href="https://en.wikipedia.org/wiki/Historically_black_colleges_and_universities">https://en.wikipedia.org/wiki/Historically_black_colleges_and_universities </a>
<br>
<a href="http://www.uncf.org/sections/MemberColleges/SS_AboutHBCUs/about.hbcu.asp">http://www.uncf.org/sections/MemberColleges/SS_AboutHBCUs/about.hbcu.asp </a>
<br>
<a href="http://tmcf.org/about-us/our-schools/hbcus">http://tmcf.org/about-us/our-schools/hbcus </a>
<br>
<a href="http://www.collegeview.com/articles/article/the-history-of-historically-black-colleges-and-universities"> http://www.collegeview.com/articles/article/the-history-of-historically-black-colleges-and-universities</a>

