<!DOCTYPE html>

<html>
    <head>
        <title>HBCU Excellence</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    </head>
    <body style="background-image:url(/public/images/white_bg1.png)">
	    <div id="wrapper" class="frontpage-wrapper">
	    	<div id="header">
	    		<div id="title">
		    		<h1><a href="/">HBCU Excellence</a></h1>
		    	</div>
		    	<div id="menu">
		    	    <div class="container">
				    	<ul>
							<li><a href="/scholarship-application">Apply</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="/scholarship-overview">Overview &amp; Eligibility</a></li>
							<li><a href="/what-are-hbcus">What are HBCU's?</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
							<li><a href="/pastwinners"> Past Winners!</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="slideshow">
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/1.jpg');"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/2.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/3.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/4.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/5.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/6.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/7.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/8.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/9.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/10.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/11.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/12.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/13.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/14.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/15.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/16.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/17.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/18.jpg')"></div>
				</div>
			</div>
			<div id="about" class="container content" style="background-color:white">
				<h1 style="border-bottom:solid 2px #E51937">About</h1>
				<div>
				    <img style="width:40%;margin:0px 20px 20px 0px;" align="left" src="/public/images/slideshow/16.jpg"/>
					<h2>Annie Ibok Scholarship</h2>
					<p>Emem Ibok is passionate about uplifting the community, creating pipelines for people of color, 
					and supporting college-bound students. Since attending Howard, he has served on the E-board of 
					numerous organizations, including TRUST: A Society For Men (of which he is a founder) and the 
					Howard University Alumni Club of Greater Seattle. It is through that involvement in which his 
					passions are manifested through action; however, it is by the love, care, and support of his 
					late mother, Annie, whose personal sacrifice got him through college. She provided him with a 
					half-dollar on move-in day at Howard, requesting that he return it back to her on the day of 
					graduation. That simple piece of currency provided him the strength to graduate with honors 
					and on time. Annie only got to witness a year of the fruits of her 2 decade long labor of 
					raising Emem.  As a small token of gratitude, Emem created The <u>Annie Ibok Scholarship</u>
					 in her honor to provide financial aid to underserved students of color in their undergraduate 
					 studies to help offset tuition costs, student loans, and other expenses.</p>
				</div>
				<br/>
				<br/>
				<br/>
				<br/>
				<hr/>
				<br/>
				<div>				
					<img style="width:40%;margin:0px 20px 20px 0px;" align="left" src="/public/images/annie-ibok.png"/>
					<h2>Annie Ibok</h2>
					<p>Mrs. Aniekan (Annie) Ibok was born Aniekan Solomon Aqua to Dr. and Mrs. Solomon David Aqua of 
					Ikot Ossom village in Ibesikpo Asutan Local Government Area of Akwa Ibom State, Nigeria. As the 
					eldest of seven children, she had always acted as a mother to siblings particularly after the 
					parents left for the United States. In the mid 70's, her parents brought her and her brothers 
					and sisters to the United States to join them. They grew up in St. Louis, MO.</p>
					<p>At a very early age, it was apparent that she would enter into the medical field. She worked 
					very hard in her studies earning a BS degree in Nursing from Texas Woman's University in 
					Dallas, Texas (working about 30 years in the field). She loved Nursing! She often regretted 
					that her father did not live long enough to see her, a Registered Nurse and her brother, an 
					MD at Kaiser Hospital in their white coats. This was her father's dream. A woman of profound					
					but simple faith, she constantly lifted her family up in prayers. She poured her life into 
					service and dedication to her family. She also poured herself into giving back to the community, 
					particularly to her native country through the women's group Mboho Ima Iban Akwa Ibom. The 
					women adopted the project of renovating the Maternity Wing of the local hospital, St. Luke's 
					Hospital, Anua. At the conclusion of which, the hospital named the Maternity Ward after her 
					"Mma Aniekan Ibok Maternity Ward".</p>
					<p>Mrs. Aniekan Ibok lost her battle to cancer at the age of 57. She is survived 
					by her husband, her children, her mother, and six siblings.</p>
				</div>
				<br/>
				<br/>
				<br/>
				<br/>
				<hr/>
				<br/>
				<div>
					<img style="width:40%;margin:0px 0px 20px 20px;" align="right" src="/public/images/emem-ibok.jpg"/>
					<h2>Emem Ibok</h2>
					<p>Emem Ibok is a first generation Nigerian-American and Bay Area native who began his 
					journey attending public schools in the Santa Clara. As his offers came in,
					he ultimately decided to attend Howard 
					University on a scholarship over many renowned Public and Private schools across 
					the country. He was the first in his immediate family to attend an HBCU. Creating an academic 
					pipeline, he was later joined by his cousin and brother, both Howard Alumni: School of Law 
					graduates. In 2013, he graduated cum laude from Howard University with a Bachelor's degree in 
					Chemical Engineering. He is currently a Propulsion Engineer at an aerospace company in Puget Sound.
					In his spare time, he serves on the Executive Boards of the Howard Alumni Club of 
					Greater Seattle and BBEA-North. He hopes that his efforts will 
					create a community that provides upward mobility for people of color in all 
					stages of life.</p>
					<br/>
				<br/>
				<br/>
				<br/>
				</div>
			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>		
        <script src="@{'/public/javascripts/scripts.js'}" type="text/javascript"></script>
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-78472607-1', 'auto');
		  ga('send', 'pageview');			
		</script>
	</body>
</html>
