<!DOCTYPE html>

<html>
    <head>
        <title>HBCU Excellence</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    </head>
    <body style="background-image:url(/public/images/white_bg1.png)">
	    <div id="wrapper" class="frontpage-wrapper">
	    	<div id="header">
	    		<div id="title">
		    		<h1><a href="/">HBCU Excellence</a></h1>
		    	</div>
		    	<div id="menu">
		    	    <div class="container">
				    	<ul>
							<li><a href="/scholarship-application">Apply</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="/scholarship-overview">Overview &amp; Eligibility</a></li>
							<li><a href="/what-are-hbcus">What are HBCUs?</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
							<li><a href="/pastwinners">Past Recipients</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="slideshow">
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/1.jpg');"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/2.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/3.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/4.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/5.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/6.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/7.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/8.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/9.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/10.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/11.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/12.jpg')"></div>
				</div>
				<div class="slide">
					<div class="background-image" style="background-image:url('/public/images/slideshow/13.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/14.jpg')"></div>
					<div class="background-image" style="background-image:url('/public/images/slideshow/15.jpg')"></div>
				</div>

			</div>
			<div id="about" class="container content" style="background-color:white">
				<h1 style="border-bottom:solid 2px #E51937">About</h1>
				<div>
				    <img style="width:40%;margin:0px 20px 20px 0px;" align="left" src="/public/images/slideshow/15.jpg"/>
					<h2>Annie Ibok Scholarship</h2>
					<p> 10 years ago, Annie Ibok presented her son Emem with a half-dollar on move-in day at Howard University.
					She presented that half-dollar with with the agreement that her son would return it to her only after he had obtained his engineering degree.
					On graduation day Emem presented that half-dollar back to his mother and went on to serve his community,
					being a founding member of <a href="http://www.trust-society.org/"> TRUST: A Society For Men </a>  
					and serving as Vice President of the newly chartered <a href=" http://huacseattle.org/ "> Howard University Alumni Club
					of Greater Seattle</a>. It is through that involvement in which his passions are manifested into action. She unfortunately did not get to enjoy the 
					fruits of her labor, passing away shortly after he graduated. Emem created The Annie Ibok Scholarship in her honor to provide financial aid to underserved students
					in their undergraduate studies.  </p>
				</div>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<div>				
					<img style="width:40%;margin:0px 20px 20px 0px;" align="left" src="/public/images/annie-ibok.png"/>
					<h2>Annie Ibok</h2>
					<p>Mrs. Aniekan (Annie) Ibok was born Aniekan Solomon Aqua to Dr. and Mrs. Solomon David Aqua of 
					Ikot Ossom village in Ibesikpo Asutan Local Government Area of Akwa Ibom State, Nigeria. As the 
					eldest of seven children, she had always acted as a mother to siblings particularly after the 
					parents left for the United States. In the mid 70's, her parents brought her and her brothers 
					and sisters to the United States to join them. They grew up in St. Louis, MO.</p>
					<p>At a very early age, it was apparent that she would enter into the medical field. She worked 
					very hard in her studies earning a BS degree in Nursing from Texas Woman's University in 
					Dallas, Texas (working about 30 years in the field). She loved Nursing! She often regretted 
					that her father did not live long enough to see her, a Registered Nurse and her brother, an 
					MD at Kaiser Hospital in their white coats. This was her father's dream. A woman of profound					
					but simple faith, she constantly lifted her family up in prayers. She poured her life into 
					service and dedication to her family. She also poured herself into giving back to the community, 
					particularly to her native country through the women's group Mboho Ima Iban Akwa Ibom. The 
					women adopted the project of renovating the Maternity Wing of the local hospital, St. Luke's 
					Hospital, Anua. At the conclusion of which, the hospital named the Maternity Ward after her 
					"Mma Aniekan Ibok Maternity Ward".</p>
					<p>Mrs. Aniekan Ibok lost her battle to cancer at the age of 57, but her legacy lives on through her family
					and this scholarship.</p>
				</div>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
		    </div>
	    </div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery.cycle.all.min.js'}" type="text/javascript"></script>		
        <script src="@{'/public/javascripts/scripts.js'}" type="text/javascript"></script>
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-78472607-1', 'auto');
		  ga('send', 'pageview');			
		</script>
	</body>
</html>
