#{extends 'main.html' /}
#{set title:'Past Winners' /}

<h1>Congratulations to Alexia Okorogu!</h1>

<div id="about" class="container content" style="background-color:white">
				<h1 style="border-bottom:solid 2px #E51937">About</h1>
				<div>
				    <img style="width:30%;margin:0px 20px 20px 0px;" align="left" src="/public/images/slideshow/16.jpg"/>
					<h2>About The Winner</h2>


					<p>The 2017 recipient of the Annie Ibok Scholarship is <b>Ms. Alexia Okorogu</b>!</p>
					<p>Alexia is a Biomedical Science major at Oakwood University from the Greater Seattle Area. As a student-athelete,
					she was committed to not only school, but also her role on her school's volleyball and basketball teams (serving as co-captain senior year), all while maintaining a final GPA of 3.76. This was supplementary to serving as a class officer, ASB Vice-President, and the President of the National Honor Society.</p>

					<p> Alexia looks forward to honoring her university's motto ("<i>Enter to Learn, Depart to Serve</i>") 
by serving those in the most vulnerable and underserved areas of the United States. 
Her educatation and career goals will enable her to eliminate health-related barriers
that prevent true equity. The Annie Ibok Scholarship will be used towards her tuition at Oakwood to ensure her success.</p>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<h2><u>Past Winners</u></h2>
					<br><b> Tiana Lopez, Howard University (2016)</b>

				</div>

