#{extends 'main.html' /}
#{set title:'Past Winners' /}

<h1>Congratulations to Tiana Lopez!</h1>

<div id="about" class="container content" style="background-color:white">
				<h1 style="border-bottom:solid 2px #E51937">About</h1>
				<div>
				    <img style="width:40%;margin:0px 20px 20px 0px;" align="left" src="/public/images/slideshow/19.jpg"/>
					<h2>About The Winner</h2>
					<p>Tiana Lopez is a rising Freshman Biology major at Howard University from the Greater Seattle Area. As a student athelete,
					she was committed to not only work, but also her role on the softball field, winning two district championships,
					attending state championships ,all while maintaing a final GPA of 3.75. This was coupled with coaching middle school softball and a private 
					softball league. It's apparent that at a young age, Tiana has been commited to giving back.</p>
<p>She was unaware that HBCU's existed and the impact they served until very recently. Once exposed, she began to research about the rich history of Howard University. One thing that intrigued 
her was the unmatched level of true diversity represented at the school, broadening her understanding of many global cultures. Following a long list of prominent Men and Women of color who later on became leaders in their own right, Tiana plans to utilize her degree to
effect change in the STEM field.</p>
				</div>

