#{extends 'Pastwinners.html' /}
#{set title:'Past Winners' /}

<h1>Congratulations to Tiana Lopez</h1>

<p>Tiana Lopez is a rising Freshman Biology major at Howard University from the Greater Seattle Area.As a student athelete, she was committed to 
not only work, but also her role on the softball field, winning two district championships, attending state championships ,all while maintaing 
a final GPA of 3.75.</p>
<p>She was unaware that HBCU's existed and the impact they served until very recently. Once exposed, she began to research about the rich history of Howard University. One thing that intrigued 
her was the unmatched level of true diversity represented at the school, broadening her understanding of many global cultures. Following a long list of prominent Men and Women of color who later on became leaders in their own right, Tiana plans to utilize her degree to
effect change in the STEM field.</p>
